.container {
    border: 1px solid lightgray;
    text-align: left;
}

.container:hover {
    background: #F5F8FA;
}

.container-1 {
    display: flex;
}

.container-child-1 {
    width: 20%;
}

.container-child-2 {
    width: 80%;
}

.user {
    display: flex;
}

.user-container {
    display: flex;
    font-size: 15px;
    color: gray;
}

.post-container {
    /* text-align: left; */
}

.comment-container {
    border-top: 1px solid black;
}

.interactive {
    display: flex;
    margin-bottom: 1vh;
}

.link-tag {
    text-decoration: none;
    color: black;
}

.fa {
    color: lightgray;
    padding: 0 5px;
    margin: 0 1vw;
}

.fa-user-circle-o {
    font-size: 3rem;
    padding: 2vh 3vw;
}

.fa-heart:hover {
    color: red;
}

.fa-comment:hover {
    color: black;
}

.user {
    display: flex;
}

.name {
    font-weight: 700;
    font-size: small;
}

.email {
    color: gray;
    font-size: small;
}

.verified, .post-verified {
    width: 20px;
    height: 20px;
    margin: 1.2vh 3vw 0 1vw;
}

.post-verified {
    margin: 1.5vh 3vw 0 1vw;
}

/* Userpost */

.user-info {
    display: flex;
}

/* User profile */

.user {
    padding: 0 5vw;
}

.profile-details {
    display: flex;
}

.link-style {
    color: blue;
    text-decoration: underline;
}

.bg-img {
    background: black;
}